<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>

<body>

    <div id="all">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

            {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                            {{ .Content }}
                            <div
                                style="position: relative; width: 100%; height: 0; padding-bottom: 150%; min-height: 500px;">
                                <iframe
                                    src="https://docs.google.com/forms/d/e/1FAIpQLScmGWCDFKaHF7AyOrZBNnu0Epev4meotLeECR6EaeoNuXJoKw/viewform?embedded=true"
                                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                    frameborder="0" marginheight="0" marginwidth="0">Loading…
                                </iframe>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>