
.bar.background-image-fixed-3 {
    background: url('/img/fixed-background-3.jpg') center top no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
.lead {
  text-align: center;
}
.bar.background-pentagon {
  background: url('/img/img-6972-2000x549.jpg') center center no-repeat;
  background-size: cover;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  color: #ffffff;
}
#heading-breadcrumbs {
  background: url('/img/club/img-30-2000x1500.jpg') bottom;
  padding: 20px 0;
  margin-bottom: 40px;
}

summary {
  list-style: none;
  cursor: pointer;
  background-color: var(--primary-accent);; /* Button background color */
  color: #000;
  padding: 10px; /* Padding around the button text */
  width: 100%; /* Extending to page width */
  display: block;
  border: none;
  /* border-radius: 5px; */
  margin-bottom: 5px; /* Space between buttons */
  text-align: center; /* Adjust the text alignment */
  font-weight: bolder;
  outline: none; /* Remove focus outline */
}