
.bar.background-image-fixed-3 {
    background: url('/img/fixed-background-3.jpg') center top no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
.lead {
  text-align: center;
}
.bar.background-pentagon {
  background: url('/img/img-6972-2000x549.jpg') center center no-repeat;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
}