
.bar.background-image-fixed-3 {
    background: linear-gradient(to right,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/fixed-background-3.jpg') center top no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bar.background-image-fixed-4 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/gotcourts-bg.jpg') center no-repeat;
  background-attachment: scroll;
  background-size: fit; 
}

@media screen and (max-width: 810px) {
  .bar.background-image-fixed-4 {
      background-size: 100% auto; /* Resize image to fit within the container */
  }
}

.lead {
  text-align: center;
}

.bar.background-pentagon {
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('/img/img-6972-2000x549.jpg') center center no-repeat;
  background-size: cover;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  color: #ffffff;
}
.text-white {
  color: #ffffff;
}

#heading-breadcrumbs {
  background: linear-gradient(to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/img/club/img-30-2000x1500.jpg') bottom;
  padding: 20px 0;
  margin-bottom: 40px;
}

#heading-breadcrumbs h1 {
  color: #ffffff;
}

summary {
  list-style: none;
  cursor: pointer;
  background-color: #ffffff; /* Button background color */
  color: var(--primary-accent);
  
  border-color: var(--button-border);
  padding: 10px; /* Padding around the button text */
  width: 100%; /* Extending to page width */
  display: block;
  border: 1px solid var(--primary-accent);
  /* border-radius: 5px; */
  margin-bottom: 5px; /* Space between buttons */
  text-align: center; /* Adjust the text alignment */
  font-weight: bolder;
  font-size: larger;
  outline: none; /* Remove focus outline */
  transition: background-color 0.2s;
}

summary:hover {
  /* background-color: var(--link-hover-bg); */
  background: var(--primary-accent);
  color: #ffffff;
  border-color: var(--primary-accent);
}

input[type="radio"], input[type="checkbox"] {
  accent-color: var(--primary-accent);
  color: var(--primary-accent);
}

input[type="date"]:before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.fit {
  max-width: 100%;
  max-height: 100%;
  padding: 3%;
}

#dob-text {
  color: gray;
  opacity: 0.9;
}

/* prices home section */
.mbr-section-no-margin {
  margin: 0;
}

/* Styling for each pricing card */
.mbr-plan {
  border-radius: 10px; /* Rounded edges */
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Center-align the text inside each pricing card */
.mbr-plan-title, .mbr-price-value, .mbr-price-figure, .mbr-price-term, .mbr-plan-list {
  text-align: center;
}

.mbr-plan-title {
  padding: 10%;
  margin: 0%;
}

.mbr-price {
  text-align: center;
}

/* Style the price as the biggest and boldest text */
.mbr-price-figure {
  font-size: 45px; /* Adjust as needed */
  font-weight: bold;
}

/* Style the features as plain text list */
.mbr-plan-list li {
  list-style-type: none;
  padding: 10px;
}

/* Remove border for the last feature in the list */
.mbr-plan-list li:last-child {
  border-bottom: none;
}

/* Styling for the "Learn More" button container */
.mbr-plan-btn {
  text-align: center;
  padding-bottom: 15%;
}

.btn-template-main {
  color: #ffffff;
  background-color: var(--primary-accent);;
  border-color: var(--primary-accent);
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  color: #e6e6e6;
  background-color: var(--primary-accent) ;
  border-color: var(--button-border);
}
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  background-image: none;
}
.btn-template-main.disabled,
.btn-template-main[disabled],
fieldset[disabled] .btn-template-main,
.btn-template-main.disabled:hover,
.btn-template-main[disabled]:hover,
fieldset[disabled] .btn-template-main:hover,
.btn-template-main.disabled:focus,
.btn-template-main[disabled]:focus,
fieldset[disabled] .btn-template-main:focus,
.btn-template-main.disabled:active,
.btn-template-main[disabled]:active,
fieldset[disabled] .btn-template-main:active,
.btn-template-main.disabled.active,
.btn-template-main[disabled].active,
fieldset[disabled] .btn-template-main.active {
  background-color: #ffffff;
  border-color: var(--primary-accent);
}
.btn-template-main .badge {
  color: #ffffff;
  background-color: var(--primary-accent);
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active {
  background: #ffffff;
  color: var(--primary-accent);
  border-color: var(--primary-accent);
}

.custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minimum width as needed */
  grid-gap: 20px; /* Adjust gap between items as needed */
}

.custom-ul .item {
  width: 100%;
}

.custom-ul .item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15%;
}

.legi-link {
  color: var(--primary-accent);
}

.drone {
  padding: 0;
  margin: 0;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9); /* Adjust darkness here */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1; /* Ensure text is above video */
}

.overlay-text h2 {
  color: #ffffff;
}

.overlay-text h2 {
  font-size: 3vw; /* Responsive font size based on viewport width */
}

.overlay-text p {
  font-size: 2vw; /* Responsive font size based on viewport width */
}

/* fireworks.css */
.fireworks-bg {
  position: relative;
  background: #ffffff; /* Change background color as needed */
  max-height: 100;
}

.fireworks-bg a {
  color: #000000;
}

.fireworks-bg .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=30);
}