<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>
<script>
    function calculateAgeAndValidateForm(event) {
        var selectedOption = document.querySelector('input[name="membershipType"]:checked').value;

        // Check if the selected option is "Aktiv_in_Ausbildung"
        if (selectedOption === "Aktiv_in_Ausbildung") {
            var birthdateInput = document.getElementsByName("birthdate")[0];
            var birthdate = new Date(birthdateInput.value);
            var today = new Date();
            var age = today.getFullYear() - birthdate.getFullYear();

            // Check if the birthday hasn't occurred yet this year
            if (today.getMonth() < birthdate.getMonth() ||
                (today.getMonth() === birthdate.getMonth() && today.getDate() < birthdate.getDate())) {
                age--;
            }

            // Check if age is greater than 28 and prevent form submission
            if (age > 28) {
                event.preventDefault(); // Prevent form submission
                var alertMessage = "Du bist nicht für 'Aktiv in Ausbildung' qualifiziert, da du älter als 28 Jahre bist.";
                displayErrorAlert(alertMessage);
            } else {
                clearErrorAlert(); // Clear any existing error message
            }
        }
    }

    function displayErrorAlert(message) {
        var alertDiv = document.getElementById("errorAlert");

        if (!alertDiv) {
            alertDiv = document.createElement("div");
            alertDiv.id = "errorAlert";
            alertDiv.classList.add("alert", "alert-danger");
            alertDiv.setAttribute("role", "alert");
            var form = document.forms["subscription"];
            form.parentNode.insertBefore(alertDiv, form);
        }

        alertDiv.textContent = message;
    }

    function clearErrorAlert() {
        var alertDiv = document.getElementById("errorAlert");
        if (alertDiv) {
            alertDiv.parentNode.removeChild(alertDiv);
        }
    }
</script>

<body>

    <div id="all">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        <div id="content">
            <section class="mbr-section mbr-section-hero call3 mbr-after-navbar" id="call5-26" data-rv-view="186"
                style="background-color: rgb(221, 221, 221); padding-top: 80px; padding-bottom: 0px;">



                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-left call-inner">

                            <div class="col-xs-12 text-xs-center">

                                <h1 class="mbr-section-title display-4" style="text-align: center;">Anmeldung</h1>

                                <p class="mbr-section-text lead">Bitte fülle die untenstehenden Angaben aus - so kannst
                                    Du in
                                    kürzester Zeit dem Tennisclub Schützenwiese beitreten. Beachte, dass Du Dein
                                    Einverständnis
                                    gibst zu Statuten und Konditionen, indem Du die Checkbox zuunterst auf dem Formular
                                    anklickst.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

            </section>

            <div id="custom-html-22">
                <section class="container-fluid"
                    style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <form name="subscription" action="/success" method="POST" netlify>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="*Name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="*Vorname" name="vorname"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="*Adresse" name="adresse"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="text" inputmode="numeric" class="form-control" placeholder="*PLZ 8400"
                                        pattern="[0-9]{4}" name="plz" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="*Ort" name="ort" required>
                                </div>
                                <div class="form-group">
                                    <p id="dob-text">*Geburtsdatum</p>
                                    <input type="date" class="form-control" value="2024-01-01" name="birthdate"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefon" name="tel">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="*Mobile 079 123 45 67"
                                        pattern="(0[0-9]{9})|(0[0-9]{2}\s[0-9]{3}\s[0-9]{2}\s[0-9]{2})" name="mobile"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="*Email" name="email" required>
                                </div>
                                <div class="radio">
                                    <div class="radio">
                                        <p class="help-block">Wähle Deine Mitgliedschaft:</p>

                                    </div>
                                    <label>
                                        <input type="radio" name="membershipType" id="membershipType1" value="Aktiv_1">
                                        Aktiv 1 (CHF 550.-/ Jahr)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>

                                        <input type="radio" name="membershipType" id="membershipType2" value="Aktiv_2">
                                        Aktiv 2 (CHF 420.-/ Jahr)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membershipType" id="membershipType3"
                                            value="Aktiv_in_Ausbildung">
                                        Aktiv in Ausbildung (CHF 250.-/ Jahr)
                                        <a class="legi-link" href="mailto:admin@tcsw.ch"> **gültigen Legi an
                                            admin@tcsw.ch schicken**</a>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membershipType" id="membershipType4" value="Familie">
                                        Familie (CHF 900.-/ Jahr)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membershipType" id="membershipType5" value="Junior_1">
                                        Junior 1 (CHF 200.-/ Jahr)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membershipType" id="membershipType6" value="Junior_2">
                                        Junior 2 (CHF 100.-/ Jahr)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Bemerkungen"
                                        name="comment"></textarea>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rules-confirmation" value="confirm" required>
                                        Ich erkläre die Anmeldung als verbindlich. Ich kenne die Regelungen in den
                                        <a href="/pdf/statuten.pdf" target="_blank">Statuten</a> und dem <a
                                            href="/pdf/spielreglement.pdf" target="_blank">Spielreglement</a> und bin
                                        damit einverstanden.
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="privacy-confirmation" value="confirm" required>
                                        Ich stimme den <a href="/pdf/datenschutzerklaerung.pdf"
                                            target="_blank">Datenschutzerklärung</a> zu.
                                    </label>
                                </div>

                                <input type="submit" class="form-control btn btn-template-main"
                                    value="Anmeldung abschicken" , onclick="return calculateAgeAndValidateForm(event);">
                            </form>
                        </div>

                    </div>

                </section>
            </div>

        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>